# Build files
/build/**
/*.o
/*.d
/*.a
/*.so
/*.dll
/*.exe
polygine

# VScode files
/.vscode/**
c_cpp_properties.json
launch.json
settings.json
tasks.json

# imgui
/imgui.ini

# log
/valgrind_log*.txt
